<% content_for :top do %>
  <div>
    <a class="right" href="/<%= slugify(@fight.name) %>/new_character">
      <button>Add a Character</button>
    </a>

    <a class="left" href="/">
      <button class="home-button">Return Home</button>
    </a>
  </div>

  <div class="title">
    <h2><%= @fight.name %></h2>
  </div>
<% end %>

<% @fight.characters.each do |character| %>
  <div class="list-box character">
    <div class="character-title">
      <h3><%= character.name %></h3>

      <div class="health-bar">
        <div class="health-bar fill" style="<%= health_fill(character) %>"></div>
        <h4>HP (remaining / max) <%= character.hp %> / <%= character.max_hp %></h4>
      </div>
    </div>


    <div class="fight-buttons">
      <form action="/<%= slugify(@fight.name) %>/delete" method="POST">
        <button class="fight delete" type="submit">Delete</button>
      </form>

      <form action="/<%= slugify(@fight.name) %>/duplicate" method="POST">
        <button class="fight duplicate" type="submit">Duplicate</button>
      </form>

      <form action="/<%= slugify(@fight.name) %>/restart" method="POST">
        <button class="fight restart" type="submit">Full Heal</button>
      </form>
    </div>

  </div>
<% end %>
