<% content_for :top do %>
  <div>
    <a class="right" href="/<%= slugify(@fight.name) %>/new_character">
      <button>Add a Character</button>
    </a>

    <a class="left" href="/">
      <button class="home-button">Return Home</button>
    </a>
  </div>

  <div class="title">
    <h2><%= @fight.name %></h2>
    <button class='fight edit'>Edit</button>
  </div>
<% end %>

<% @fight.characters.each do |character| %>
  <div class="list-box character">
    <div class='character-overview'>
      <div class="character-title">
        <h3><%= character.name %></h3>

        <div class="health-bar">
          <div class="health-bar fill" style="<%= health_fill(character) %>"></div>
          <h4>HP: <%= character.hp %> / <%= character.max_hp %></h4>
        </div>
      </div>

      <div class="character-basics">
        <% each_available_stat(character) do |name, value| %>
          <div class='character-info'>
            <p>
              <span class="character-info stat"><%= name %>:</span>
              <span class="character-info value"><%= value %></span>
            </p>
          </div>
        <% end %>
      </div>

      <div class="character-interactive">
        <div class="change-hp">
          <div>
            <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/take_damage" method="POST">
              <input type="number" min='0' name="amount"><button class='damage' type='submit'>Take Damage!</button>
            </form>

            <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/take_damage/full" method="POST">
              <button class="damage full" type='submit'>Full Damage</button>
            </form>
          </div>

          <div>
            <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/heal_damage" method="POST">
              <input type="number" min='0' name="amount"><button class="heal" type='submit'>Heal Damage!</button>
            </form>

            <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/heal_damage/full" method="POST">
              <button class="heal full" type='submit'>Full Heal</button>
            </form>
          </div>
        </div>

        <div class="change-condition">
          <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/change-condition" method="POST">
            <input type="text">
            <button type='submit'>Change Condition</button>
          </form>
        </div>
      </div>
    </div>

    <div class="right-buttons">
      <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/delete" method="POST">
        <button class="fight delete" type="submit">Delete</button>
      </form>

      <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/duplicate" method="POST">
        <button class="fight duplicate" type="submit">Duplicate</button>
      </form>

      <form action="/<%= slugify(@fight.name) %>/<%= slugify(character.name) %>/edit" method="POST">
        <button class="fight edit" type="submit">Edit</button>
      </form>
    </div>

  </div>
<% end %>
