<% content_for :top do %>
  <h2 class="left">Your fights:</h2>

  <a class="right" href="/new_fight"><button>New Fight!</button></a>
<% end %>

<% @fights.each do |fight| %>
  <div class="list-box fight">
    <a href="/<%= slugify(fight.name) %>">
      <div class="fight-name">
        <h3><%= fight.name %></h3>
        <p>Status: <%= fight.status %></p>
      </div>

      <div class="fight-info">
        <div class="info-box">
          <p>NPC Characters</p>
          <p><%= fight.npc_count %></p>
        </div>

        <div class="info-box">
          <p>Player Characters</p>
          <p><%= fight.player_count %></p>
        </div>
      </div>
    </a>

    <div class="fight-buttons">
      <form action="/<%= slugify(fight.name) %>/delete" method="POST">
        <button class="fight delete" type="submit">Delete</button>
      </form>

      <form action="/<%= slugify(fight.name) %>/duplicate" method="POST">
        <button class="fight duplicate" type="submit">Duplicate</button>
      </form>

      <form action="/<%= slugify(fight.name) %>/restart" method="POST">
        <button class="fight restart" type="submit">Restart</button>
      </form>
    </div>
  </div>
<% end %>
